#city{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: xx-large;
}

.forecast-button{
  background-color:lightblue;
}

.forward-button{
  background-color: grey;
}

.backward-button{
  background-color: grey;
}
