<p id="city">{{city_name}}, {{country}}</p>

<div class="burger-container">
  <i class="fas fa-bars burger-icon" (click)="toggleMenu()"></i>
</div>

<div class="side-menu" [ngClass]="{ 'open': menuOpen }">
  <div class="fav-header">
    <h3>Favoriten</h3>
    </div>
  @if (menuOpen){
  <app-favourite></app-favourite>
  }
</div>

<div class="weather-details">
  <div class="weather-card highlight">
    <p class="time">{{getDt()}}</p>
    <p class="temperature">{{getTemp()}}°C</p>
    <p class="description">{{weather_description}}</p>
    <p class="feels">Feels like {{getFeelsLike()}}°C</p>
    <hr />
    <p>Humidity: {{humidity}}%</p>
    <p>Visibility: {{visibility}} m</p>
    <p>Sunrise: {{getSunrise()}}</p>
    <p>Sunset: {{getSunset()}}</p>
    <p>Wind Speed: {{wind_speed}} m/s</p>
  </div>
</div>

<p class="forecast-title">5-Tage-Vorhersage</p>

<div class="forecast-container">
  @for (elem of getForecastByNumber(this.forecast_num); track elem) {
    <div class="forecast-item">
      <p>{{elem[0]}}</p>
      <p>{{elem[1]}}</p>
      <img src="{{this.getWeatherIconByCode(elem[3])}}">
      <p><strong>{{elem[2]}}°C</strong></p>
    </div>
  }
</div>

<div class="forecast-buttons">
  <button class="forecast-button" [ngClass]="{'backward-button': this.backwardGrey}" (click)="decreaseCounter()">Zurück</button>
  <button class="forecast-button" [ngClass]="{'forward-button': this.forwardGrey}" (click)="increaseCounter()">Weiter</button>
</div>

