<p id="city">{{this.city_name}}, {{this.country}}</p>
<p id="daytime">Daytime: {{this.getDt()}}</p>
<p id="temperature">temperature: {{this.getTemp()}}</p>
<p id="feels_like">feels like: {{this.getFeelsLike()}}</p>
<p id="description">description: {{this.weather_description}}</p>
<p id="humidity">humidity: {{this.humidity}}%</p>
<p id="visibility">visibility: {{this.visibility}}</p>
<p id="sunrise">sunrise: {{this.getSunrise()}}</p>
<p id="sunset">sunset: {{this.getSunset()}}</p>
<p id="wind_speed">wind speed: {{this.wind_speed}}</p>

<p>----forecast-----</p>

@for (elem of getForecastByNumber(this.forecast_num); track elem){
  <p>{{elem[0]}} - {{elem[1]}} - {{elem[2]}}°C</p>
  <img src="{{this.getWeatherIconByCode(elem[3])}}">

}
<button class="forecast-button" [ngClass]="{'backward-button': this.backwardGrey}" (click)="decreaseCounter()">backward</button>
<button class="forecast-button" [ngClass]="{'forward-button': this.forwardGrey}" (click)="increaseCounter()">forward</button>
